.movie-item-image {
  width: 95%;
}
.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.close-btn {
  align-self: flex-end;
  border: 0px white;
  background-color: white;
}
.movie-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
