.movie-list-container {
  width: 100%;
  padding: 25px;
}
.bg-container {
  width: 80%;

  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prime-video-image {
  width: 100%;
}
.pop-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
